<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="form-register">
    <div *ngIf="errorMessage" class="alert alert-danger py-4">Error try again</div>
    <h2 class="text-center pb-3 mb-3">Create account</h2>
  
    <div class="box-input">
      <label for="email">Email</label>
    <input formControlName="email" id="email" class="form-control" type="text" placeholder="Email" />
    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
      <div *ngIf="loginForm.get('email')?.errors?.['required']" class="alert alert-danger py-1">Email is required</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']" class="alert alert-danger py-1">Email is not valid</div>
    </div>
    </div>
    <div class="box-input">
      <label for="password">password</label>
     <input formControlName="password" id="password" class="form-control" type="password" placeholder="Password" />
     <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
       <div *ngIf="loginForm.get('password')?.errors?.['required']" class="alert alert-danger py-1">Password is required</div>
       <div *ngIf="loginForm.get('password')?.errors?.['pattern']" class="alert alert-danger py-1">Password not valid</div>
     </div>
    </div>
  
  
  
    <button  [disabled]="loginForm.invalid" type="submit" class="btn-submit">
      login
    </button>
  </form>
  