<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit(loginForm)"
  class="form-register"
>
  <h2 class="">Login</h2>

  <div class="box-input">
    <label for="email">Email</label>
    <input
      formControlName="email"
      id="email"
      class="form-control"
      type="email"
      aria-label="Enter your email address"
      placeholder="Email"
      required
    />

    @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
    <div>
      @if (loginForm.get('email')?.getError('required')){
      <p class="error">phone is required</p>
      } @if (loginForm.get('email')?.getError('email')){
      <p class="error">email not valid email</p>
      }
    </div>
    }
  </div>
  <div class="box-input">
    <label for="password">password</label>
    <input
      formControlName="password"
      id="password"
      class="form-control"
      type="password"
      placeholder="Password"
      aria-label="Enter your password"
      required
    />
    <div>
      @if (loginForm.get('password')?.errors &&
      loginForm.get('password')?.touched) {
      <div>
        @if (loginForm.get('password')?.getError('required')){
        <p class="error">password required</p>
        } @if (loginForm.get('password')?.getError('pattern')){
        <p class="error">example password valid : Ahmed!123</p>
        }
      </div>
      }
      </div>
  </div>

  @if(!isLoading){
  <button [disabled]="loginForm.invalid" type="submit"  aria-label="Login button" class="btn-submit">
    login
  </button>
  } @if(isLoading){
  <h5 class="loading">Loading</h5>
  }
</form>
