
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" class="form-register">
    <h2>Register</h2>
    <div class="box-input">
      <label for="name">name:</label>
      <input formControlName="name" class="form-control" type="text" placeholder="name" />
      <!-- <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
        <div *ngIf="registerForm.get('name')?.getError('required')" class="error">name is required</div>
        <div *ngIf="registerForm.get('name')?.getError('minLength')" class="error"> Length must be more 3</div>
      </div> -->
    </div>

    <div class="box-input">
      <label for="email">Email</label>
      <input formControlName="email" class="form-control" type="text" placeholder="Email" />
      <!-- <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
        <div *ngIf="registerForm.get('email')?.errors?.['required']" class="error">Email is required</div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']"class="error" >Email is not valid</div>
      </div> -->
    </div>
    <div class="box-input">
  <label for="password">password</label>
  <input formControlName="password" class="form-control" type="text" placeholder="password" />
<!-- <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
  <div *ngIf="registerForm.get('password')?.errors?.['required']" class="error">password is required</div>
  <div *ngIf="registerForm.get('password')?.errors?.['pattern']" class="error">password is not valid you should uppercase and lowercase like this: A123456a!</div>
</div>
    </div> -->

    <button class="btn-submit" type="submit" [disabled]="registerForm.invalid">Register</button>
    <!-- <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>-->
    </div>
</form>
