
.movie-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
  }
  
  .movie-header {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title-movie {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .box-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movie-poster {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
  }
  
  .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  .categories {
    margin: 15px 0;
  }
  
  .category {
    background-color: #ffc107;
    color: #fff;
    font-size: 0.9rem;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .btn-fav{
    padding: 10px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .fav{
    background-color: #ffc107;
  }
  .btn-info {
    background-color: #17a2b8;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .btn-info:hover {
    background-color: #138496;
  }
  .comments{
    background-color: #eee;
    padding: 10px;
  }
  .reply-body{
    border:1px solid #d8d8d8;
    margin: 4px;
    width: 99%;
  }
  .reply{
    display: flex;
    align-items: start;
    justify-content: start;

  }
  .input-reply{
    height: 30px;
    width: 90%;
  }
  .btn-reply{
    height: 33px;
width: 9.5%;
}
 .comment-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
 } 
 .comment-input textarea{
    width: 80%;
    height:40px;
 }
 .comment-input button{
    height: 42px;
    width: 18%;
    margin: 0;
    border: 1px solid #aaa;
 }
  @media (max-width: 768px) {
    .movie-details {
      grid-template-columns: 1fr;
    }
  
    .movie-header {
      grid-column: span 1;
    }
  }
  
.loading{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}