
.movie-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
  }
  
  .movie-header {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title-movie {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .box-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .movie-poster {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
  }
  
  .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  .categories {
    margin: 15px 0;
  }
  
  .category {
    background-color: #ffc107;
    color: #fff;
    font-size: 0.9rem;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .btn-info:hover {
    background-color: #138496;
  }
  
  @media (max-width: 768px) {
    .movie-details {
      grid-template-columns: 1fr;
    }
  
    .movie-header {
      grid-column: span 1;
    }
  }
  
.loading{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}