.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.filter-select {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 30px;
  width: 100%;
  height:50px;
  background-color: #efefef;
  align-items: center;
}

.filter-select label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-select .form-select {
  width: 200px;
  height: 35px;
  border:1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}

.card-movie {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 15%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 1rem;
  height: 450px;
}

.card-movie:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .card-movie {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .card-movie {
    width: 100%;
  }
}

.loading {
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
